/*import*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@200;300;400;500&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Unica+One&display=swap');
@import "form";
@import "gift";
/*variables*/
$color-principal:#e4c1f9b7;
/*mixin*/
@mixin categoria ($txt, $altura, $cubrir){
    background-size: $cubrir;
    height:$altura;
    text-align: $txt;
}
body {
    font-family: "jost";
    padding: 0;
    margin: 0;
}
.whatsapp {
    position: relative;
}

.whatsapp:before,
.whatsapp:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 1px;
    width: 45px;
    height: 45px;
    opacity: 0;
    border-radius: 50%;
    background-color: #00e676;
    animation: onda 1.7s infinite;
}

.whatsapp:before {
    animation-delay: 1s;
}

.whatsapp:after {
    animation-delay: 1.3s;
}

.whatsapp img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.info {
    position: fixed;
    margin-left: 94%;
    z-index: 100000;
    margin-top: 400px;
}
@keyframes onda {
    0% {
        transform: scale(1);
    }

    15% {
        opacity: 1;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

a:link,
a:visited {
    text-decoration: none;
}

.Contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.logo img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(238, 89, 201, 0.651);
}

.logo {
    position: absolute;
    z-index: 100000;
    margin-left: 10px;
}

nav {
    background-color: $color-principal;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
}

.categorias {
    flex: 0 0 200px;
    padding: 10px;
    order: 1;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 0px 0px 7px $color-principal;
    margin-top: 85px;
    margin-bottom: 10px;
}

.categorias h3 {
    font-size: 20px;
}

.categorias input {
    margin-top: 20px;
    text-align: center;
    margin-left: 10px;
}

.Contenedor-productos {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    order: 2;
}

.product {
    width: 250px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.carousel {
    margin-top: 60px;
}

/*CARRITO*/
.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    transition: .3s;
    height: 460px;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
    max-height: 350px;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item:hover .boton-item:hover {
    background-color: rgba(225, 150, 255, 0.705);
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-size: 17px;
    color: #7a7373;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgba(225, 150, 255, 0.233);
    color: #272525;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

/* seccion carrito */
.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}

.carrito .header-carrito {
    background-color: $color-principal;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    height: 70px;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img {
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: rgba(225, 150, 255, 0.705);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}

.mi-ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff69b4ec;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.mi-ventana-emergente #contenido-ventana-emergente {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.mi-ventana-emergente span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
        display: block;
    }

    .contenedor-items {
        width: 100% !important;
    }

    .carrito {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .contenedor {
        display: block;
    }

    .contenedor-items {
        width: 100% !important;
    }

    .carrito {
        width: 100%;
        display: grid;
    }

    .header-carrito {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) {
    .info {
    margin-top: 350px;
    margin-left: 87%;
    }
    .navbar-nav {
        margin-top: 60px;
    }

    .titulo-contacto {
        text-align: center;
        margin-top: 100px;
    }

    .titulo-preguntas {
        text-align: center;
        background-color: #be9ebe91;
        margin-top: 50px;
        color: #ffffff;
    }

    .uno {
        margin-top: 50px;
    }

    .preguntas {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .preguntas h2 {
        font-size: 22px;
        margin-left: 15px;
    }

    .preguntas p {
        font-size: 16px;
        margin-left: 30px;
    }

    .logo-mob img {
        width: 400px;
    }

    .headerr {
        display: none;
    }

    .prod {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            pijama,
            mate,
            cocina;
        grid-gap: 20px;
        margin-bottom: 20px;
    }

    .mates {
        grid-area: mate;
        @include categoria (center , 300px , cover);
        background-image: url(./IMG/FONDO\ MATE.jpg);
        background-repeat: no-repeat;
        background-position: 0% 45%;
    }

    .mates h2 {
        height: 40px;
        background-color: #ecbcfd;
        color: #fff;
    }

    .pijamas {
        grid-area: pijama;
        background-image: url(./IMG/FONDO\ PANTUFLAS.jpg);
        background-position: 0% 50%;
        background-repeat: no-repeat;
        @include categoria (center , 300px , cover);
    }

    .pijamas h2 {
        height: 40px;
        background-color: #ffd97d;
        color: #fff;
    }

    .cocina {
        grid-area: cocina;
        text-align: center;
        background-image: url(./IMG/FONDO\ COCINA.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .cocina h2 {
        height: 40px;
        background-color: #a7bed3;
        color: #fff;
    }

    .navbar-envios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 250px);
        text-align: center;
        border-radius: 10px;
        width: 290px;
        margin: 0 auto;
        background-color: #f198e42f;
        margin-bottom: 20px;
        height: 690px;
        box-shadow: 0px 0px 11px #ecbcfd;
    }

    .envios {
        font-size: 16px;
        padding-top: 20px;
    }

    .envios p {
        font-size: 16px;
    }

    .envios h2 {
        font-size: 19px;
    }

    .pagos p {
        font-size: 16px;
    }

    .pagos h2 {
        font-size: 19px;
    }

    .entrega p {
        font-size: 16px;
    }

    .entrega h2 {
        font-size: 19px;
    }

    address {
        text-align: center;
    }

    .logo-navbar {
        font-size: 70px;
        color: rgba(117, 24, 255, 0.718);
    }

    .redes {
        color: rgba(237, 116, 237, 0.476);
        font-size: 50px;
    }

    .redes-sociales {
        display: grid;
        text-align: center;
        margin-bottom: 25px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .foot-inicio {
        display: flex;
        background-image: linear-gradient(45deg,
                hsla(342, 85%, 71%, 0.597) 0%,
                hsla(336, 80%, 73%, 0.677) 10%,
                hsla(328, 71%, 74%, 0.656) 20%,
                hsla(316, 62%, 75%, 0.609) 30%,
                hsla(295, 56%, 77%, 0.6) 40%,
                hsla(273, 86%, 83%, 0.585) 50%,
                hsla(275, 86%, 80%, 0.526) 60%,
                hsla(277, 85%, 77%, 0.562) 70%,
                hsla(278, 85%, 74%, 0.547) 80%,
                hsla(279, 85%, 71%, 0.533) 90%,
                hsla(279, 85%, 67%, 0.479) 100%);
        box-shadow: 0px 0px 7px #ecbcfd,
            0px 0px 7px #ecbcfd,
            0px 0px 7px #ecbcfd;
    }

    .foot-inicio ul {
        list-style: none;
    }

    .foot-inicio ul li a {
        color: #fff;
    }

    .foot-inicio h4 {
        text-align: center;
        margin: auto 0;
        font-size: 18px;
        color: #fff;
    }

    address {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .logo img {
        width: 150px;
        height: 150px;
    }

    .carousel-item {
        width: 100%;
    }

    .carousel-item img {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .info {
        margin-top: 330px;
        margin-left: 90%;
        }
    .navbar-nav {
        margin-top: 0px;
    }

    .headerr {
        display: none;
    }

    .prod {
        margin: 45px 20px 45px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        margin-bottom: 20px;
        grid-template-areas:
            "pijama mate"
            "cocina cocina";
    }

    .mate-grid {
        grid-area: mate;
    }

    .mates {
        text-align: center;
        background-image: url(./IMG/FONDO\ MATE.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .mates h2 {
        height: 40px;
        background-color: #ecbcfd;
        color: #fff;
    }

    .pijama-grid {
        grid-area: pijama;
    }

    .pijamas {

        text-align: center;
        background-image: url(./IMG/FONDO\ PANTUFLAS.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .pijamas h2 {
        height: 40px;
        background-color: #ffd97d;
        color: #fff;
    }

    .cocina-grid {
        grid-area: cocina;
    }

    .cocina {
        grid-row: 2;
        text-align: center;
        background-image: url(./IMG/FONDO\ COCINA.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }

    .cocina h2 {
        height: 40px;
        background-color: #a7bed3;
        color: #fff;
    }

    .navbar-envios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 250px);
        text-align: center;
        border-radius: 10px;
        width: 450px;
        margin: 0 auto;
        background-color: #f198e42f;
        margin-bottom: 20px;
        height: 690px;
        box-shadow: 0px 0px 11px #ecbcfd;
    }

    .envios {
        font-size: 16px;
        padding-top: 20px;
    }

    .envios p {
        font-size: 16px;
    }

    .envios h2 {
        font-size: 19px;
    }

    .pagos p {
        font-size: 16px;
    }

    .pagos h2 {
        font-size: 19px;
    }

    .entrega p {
        font-size: 16px;
    }

    .entrega h2 {
        font-size: 19px;
    }

    address {
        text-align: center;
    }

    .navbar {
        background-color: rgba(228, 193, 249, 0.718);

    }

    .logo-navbar {
        font-size: 70px;
        color: rgba(117, 24, 255, 0.718);
    }

    .redes {
        color: rgba(237, 116, 237, 0.476);
        font-size: 50px;
    }

    .redes-sociales {
        display: grid;
        text-align: center;
        margin-bottom: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "instagram mail";
    }

    .instagram {
        grid-area: instagram;
    }

    .mail {
        grid-area: mail;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .foot-inicio {
        display: flex;
        background-image: linear-gradient(45deg,
                hsla(342, 85%, 71%, 0.597) 0%,
                hsla(336, 80%, 73%, 0.677) 10%,
                hsla(328, 71%, 74%, 0.656) 20%,
                hsla(316, 62%, 75%, 0.609) 30%,
                hsla(295, 56%, 77%, 0.6) 40%,
                hsla(273, 86%, 83%, 0.585) 50%,
                hsla(275, 86%, 80%, 0.526) 60%,
                hsla(277, 85%, 77%, 0.562) 70%,
                hsla(278, 85%, 74%, 0.547) 80%,
                hsla(279, 85%, 71%, 0.533) 90%,
                hsla(279, 85%, 67%, 0.479) 100%);
        box-shadow: 0px 0px 7px #ecbcfd,
            0px 0px 7px #ecbcfd,
            0px 0px 7px #ecbcfd;
    }

    .foot-inicio ul {
        list-style: none;
    }

    .foot-inicio ul li a {
        color: #fff;
    }

    .foot-inicio h4 {
        text-align: center;
        margin: auto 0;
        font-size: 18px;
        color: #fff;
    }

    address {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 75px;
        height: 100px;
        padding-top: 0;
        font-size: 23px;
    }

    .logo img {
        width: 220px;
        height: 220px;
    }
}


@media only screen and (min-width: 900px) {
    .prod {
        margin-left: 70px;
        margin-right: 70px;
    }

    .cocina {
        height: 450px;
    }

    .pijamas {
        height: 450px;
    }

    .mates {
        height: 450px;
    }
}

@media only screen and (min-width: 765px) {
    .navbar-collapse {
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }

    .foot-inicio ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .foot-inicio ul li {
        margin: 10px 30px;
    }

    .foot-inicio h4 {
        margin-left: 25px;
    }
}

@media only screen and (min-width: 1100px) {
    .navbar-envios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 290px
    }
    .info {
        position: fixed;
        margin-left: 94%;
        z-index: 100000;
        margin-top: 400px;
    }

    .envios,
    .pagos,
    .entrega {
        margin-top: 40px
    }

    .navbar {
        height: 70px;
    }

    .collapse ul li {
        font-size: 22px;
        padding: 40px;
        color: #ffffff;
    }

    .mate-grid {
        transition: .2s;
    }

    .mate-grid:hover {
        transform: scale(1.1);
    }

    .pijama-grid {
        transition: .2s;
    }

    .pijama-grid:hover {
        transform: scale(1.1);
    }

    .cocina-grid {
        transition: .2s;
    }

    .cocina-grid:hover {
        transform: scale(1.1);
    }

    .navbar {
        height: 120px;
    }

    .cocina {
        background-position: 0% 30%;
    }

    .navbar-nav li a {
        margin-top: 60px;
        transition: .2s;
    }

    .navbar-nav li a:hover {
        transform: scale(1.1);
        margin-top: 56px;
    }
}

@media (max-width: 768px) {
    .category-sections {
        order: 1;
        width: 100%;
    }

    .product-container {
        order: 2;
        width: 100%;
        align-self: flex-start;
    }
}